<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoPowerModeSwitcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AutoPowerModeSwitcher.My.MySettings>
            <setting name="PreferredPowerModeEqualsBalanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GamingPowerModeEquals70Freq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInvertalEqualsFrequent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetProcess" serializeAs="String">
                <value>GTA5</value>
            </setting>
            <setting name="StartOnBootEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPilotEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoreEngineModeEqualsOptimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowFreqGUID" serializeAs="String">
                <value>ca366f9a-4ace-4337-b948-5b196e337c7d</value>
            </setting>
            <setting name="FirstTimeClosing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManagerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManagerWarningRemoved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManagerRestartAfterSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BootManagerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoImpactEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskManagerPrioritize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableExperimentalFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackU" serializeAs="String">
                <value>LegacySetting</value>
            </setting>
            <setting name="ApplicationStatupMesurementValue1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationStatupMesurementValue2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableCoreForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupPolicyForceAutoPilot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableLegacyServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTargetProcess" serializeAs="String">
                <value>GTA5</value>
            </setting>
            <setting name="PreferredCPUModeAsByte" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowPowermodeControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableDeveloperDetectorService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationSELFPriority" serializeAs="String">
                <value>IDLE</value>
            </setting>
            <setting name="DisableLegacyCheckboxStyleDetectionSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEBUG_StartingForm" serializeAs="String">
                <value>UserPreferencesModule</value>
            </setting>
            <setting name="DisableSizeChangedEventChecks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_DefaultHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="UI_DefaultWidth" serializeAs="String">
                <value>313</value>
            </setting>
            <setting name="CheckPowerPlanInterval" serializeAs="String">
                <value>1750</value>
            </setting>
            <setting name="FastCheckConditionCheckPowerModeEngineInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RedirectConsoleToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlushConsoleAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCpuModeFriendlyName" serializeAs="String">
                <value>Balanced</value>
            </setting>
            <setting name="AllowQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_MaxHeight" serializeAs="String">
                <value>529</value>
            </setting>
            <setting name="UI_MaxWidth" serializeAs="String">
                <value>316</value>
            </setting>
            <setting name="UI_MinHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="SafemodeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AboutThisFile" serializeAs="String">
                <value>This is where all the application settings stored. You may manually override any value but changing values may cause application to crash or have serious issues. Proceed with caution. Before changing any values, please make sure the APMS application has quit. </value>
            </setting>
            <setting name="enableGameDetection" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoPowerModeSwitcher.My.MySettings>
    </userSettings>
</configuration>
